@model CartViewModel

<link href="~/Customer/css/Cart.css" rel="stylesheet" />

 @* <section class="h-100 h-custom" style="background-color: #d2c9ff;">  *@
<section class="w-100" style="background-color: #d2c9ff;">

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                @if (Model.carts.Count() > 0)
                {
                    <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="row g-0">
                                <div class="col-lg-8">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h1 class="fw-bold mb-0">Shopping Cart</h1>
                                            <h6 class="mb-0 text-muted">@Model.carts.Count()</h6>
                                        </div>
                                        <hr class="my-4">

                                        @foreach (var item in Model.carts)
                                        {


                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="~/@item.Product.Image"
                                                         class="img-fluid rounded-3" alt="Cotton T-shirt">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-muted">@item.Product.Name</h6>
                                                    <h6 class="mb-0">@item.Product.Name</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                                    <a class="btn btn-dark" asp-route-Id="@item.Id" asp-action="Plus">+</a>

                                                    <h4>@item.Count</h4>

                                                    <a class="btn btn-dark" asp-route-Id="@item.Id" asp-action="Minus">-</a>





                                                </div>
                                                <a class="btn btn-danger" asp-route-Id="@item.Id" asp-action="Delete">X</a>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                                    <h6 class="mb-0">@item.Product.Price</h6>
                                                </div>
                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                                                </div>
                                            </div>

                                            <hr class="my-4">
                                        }



                                    </div>

                                </div>
                                <div class="col-lg-4 bg-body-tertiary">
                                    <div class="p-5">



                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Total price</h5>
                                            <h5>@Model.total</h5>
                                        </div>

                                        <a asp-action="CheckOut" class="btn btn-success">Check Out</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <h2 class="text-center">Cart Is Empty</h2>
                }

            </div>
        </div>
    </div>
 </section> 
